html {
    font-family: "contra", serif;
    background-color: rgb(250,250,250);
}

body {
    height: 100%;
    font-weight: lighter;
}

h1 {
    font-family: "raleway_thin", sans-serif;
    font-weight: lighter;
    color: rgb(30,30,30);
    font-size: 4em;
}

.save_button {
    width: 3em;
    height: 3em;
}

.fullscreen {
    margin-left: 0.25em;
    position: relative;
    top: 0.33em;
    width: 1.2em;
    height: 1.2em;
}

.resipa {
    width: 3em;
}

.resipo {
    width: 2em;
}

.resfs {
    width: 4em;
}

.crow {
    padding: 1em;
}

#container {
    padding: 1em;
    width: 1024px;
    text-align:center;
}

#pappoly {
    border: solid #000 8px;
}

#colorprefshow {
  width: 1em;
  height: 1em;
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
}

.middle {
    margin-left:auto;
    margin-right: auto;
}

/*
Modal classes
*/
.lightbox_bg {
    background:#ffffff none repeat scroll 0 0;
    display:none;
    height:800px;
    left:0;
    filter:alpha(opacity=50);
    opacity: 0.5;
    top:0;
    width:100%;
    height: 100%;
    z-index:50;
    display:none;
    position:fixed;
}
.modal{
    position:absolute;
    left:45%;
    top:45%;
    z-index:51;
    background: red;
}

