#shapes div {
    margin-bottom: 2em;
}
.triangle {
    /* Borders create the actual triangle */
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-bottom: 5em solid;
    /* The color of the bottom border will determine the color of the triangle */
    border-bottom-color: rgb(22,147,165);
    /* The div itself has no size */
    width:0;
    height:0;
}

.circle {
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -o-border-radius: 2.5em;
    border-radius: 2.5em;
    
    width: 5em;
    height: 5em;
    
    background-color: rgb(22,147,165);
}
